Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit
method.
ANS- SELECT ename,sal from Employee e1 where 
        N-1 = (SELECT COUNT(DISTINCT sal)from Employee e2 where e2.sal > e1.sal)

In [ ]:
Q-20. Write an SQL query to fetch the list of employees with the same salary.
ANS- SELECT * FROM EMP WHERE (SAL IN (SELECT sal
FROM emp GROUP BY sal HAVING COUNT(sal) > 1))